sunny/sunnevafikt/.vscode
sunny/sunnevafikt/trees.exe
keg/trees.exe
keg/.DS_Store
sunny/sunnevafikt/.DS_Store
PA3/.vscode/
PA3/keg2/trees.exe
.DS_Store
PA3/.DS_Store
PA3/keg2/.DS_Store
PA3/keg2/trees.exe
PA3/sunny/sunnevafikt/.DS_Store